# Solução para os desafios da aula 1 da quarentenadados da alura

ref: https://www.alura.com.br/quarentenadados/aula01-sua-primeira-analise-de-dados

### Preparando o ambiente

##### Fazendo as importações necessarias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

##### Carregando a base da dados e tratando os dataframes

In [2]:
filmes = pd.read_csv('movies.csv')
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
avaliacoes = pd.read_csv('ratings.csv')
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
filmes.columns = ['filmeId', 'titulo', 'generos']
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'momento']

##### Calculando a nota média dos filmes

In [6]:
nota_medias_por_filme = avaliacoes.groupby("filmeId")['nota'].mean()
nota_medias_por_filme.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [11]:
?avaliacoes.count

In [24]:
quantidade_avaliacoes_por_filme = avaliacoes.set_index(['filmeId', 'nota']).count(level='filmeId')
quantidade_avaliacoes_por_filme.head(15)

         usuarioId  momento
filmeId
1              215      215
2              110      110
3               52       52
4                7        7
5               49       49
6              102      102
7               54       54
8                8        8
9               16       16
10             132      132
11              70       70
12              19       19
13               8        8
14              18       18
15              13       13

In [25]:
teste_quantidade_avaliacoes = avaliacoes.query('filmeId == 14')
teste_quantidade_avaliacoes.shape

(18, 4)